body{
  background-color: cyan;
  margin: 1%;
  padding: 1%;
}

.clear {
  background-color: rgb(247, 181, 95);
}

.clouds {
  background-color: grey;
}

.rain {
  background-color: aquamarine;
}

.thunder {
  background-color: rgb(163, 47, 47);
}

#fiveDayOutput{
  /* margin-left: 3%; */
}

#fiveCard{
  padding: 0px;
  min-height: 300px;
}

#fiveDayContainer {
  min-height:300px;
}